* {
    box-sizing: border-box;
}

body, html{
    font-size: 20px;
    font-family: arial;
    color: rgba(241, 240, 241, 0.925);
    text-transform: uppercase;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 92, 117);
    width: 900px;    
    margin: 0 auto;   
}

.tengah{
    display: flex;
}

.box{
    background-color: rgb(243, 92, 117);
    width: 150px;
    height: 150px;
    border: 1px solid;
}

.foto-box{
    display: flex;
    justify-content: space-around;
}
header{  
    background-color: rgb(121, 201, 255);
    width: 95.5%;
    height: 100px;
}

aside{
    background-color: rgb(51, 194, 199);
    width: 20%;
    height: 400px;
}

article{
    background-color: rgb(245, 35, 35);
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer{
    background-color: rgb(121, 201, 255);
    width: 95.5%;
    height: 100px;
}

header, aside, article, footer{
    margin: 20px;
    padding: 1em;
}

p{ 
    color: rgb(249, 249, 253);
}
img{
    width: 100%;
    height: 100%;
}